# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\chloe\OneDrive\Desktop\Winter 2023\CS 235 Data Structures\LABS\Lab 5-Maze\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
